<md-content class="md-padding" style="max-width: 400px;">

    <md-card>
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">Редактирование покемона</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Имя</span>
                <span class="md-subhead">{{pokemon.name}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>

            <form name="pokemonForm" novalidate>

                <md-input-container class="md-block" flex-gt-xs>
                    <label>Вес</label>
                    <input ng-model="pokemon.weight" required>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-xs>
                    <label>Рост</label>
                    <input ng-model="pokemon.height">
                </md-input-container>

                <md-button class="md-raised md-primary" ng-click="updatePokemon()" ng-disabled="pokemonForm.$invalid">Обновить</md-button>

            </form>

        </md-card-content>
    </md-card>

</md-content>